<h1><%= link_to 'Apps', apps_index_url %> | <%= link_to 'Polestar', polestar_index_url %> | <%= link_to 'AOSP (GAS)', aosp_gas_index_url %></h1>

<b>Number of apps:</b> <%= @apps.where(project: "hcp3").size %>
<br>
<br>

<table id="example" class="table table-striped table-bordered" >
  <thead>
    <th>Package</th>
    <th>RO</th>
    <th>Services (<%= numServices(@apps.where(project: "hcp3")) %>)</th>
    <th>Receivers (<%= numReceivers(@apps.where(project: "hcp3")) %>)</th>
    <th>Providers (<%= numProviders(@apps.where(project: "hcp3")) %>)</th>
    <th>used permissions</th>
    <th>created permissions</th>
    <th>RECEIVE_BOOT_COMPLETED (<%= @apps.where(project: "hcp3").where(bootCompleted: true).size %>)</th>
    <th>Persistent (<%= @apps.where(project: "hcp3").where(persistent: true).size %>)</th>
    <th>Supplier</th>
  </thead>
  <tbody>
   <% @apps.each do |app|%>
   <tr>
     <td data-toggle="tooltip" data-html="true" title="<b>file:</b><%= app.filename %>" data-placement="left"><%= app.package %></td>
     <td><%= app.hasRO %></td>
     <td data-toggle="tooltip" title="<%= app.servicesList %>" data-placement="left"><%= app.numOfServices %></td>
     <td data-toggle="tooltip" title="<%= app.receiversList %>" data-placement="left"><%= app.numOfReceivers %></td>
     <td data-toggle="tooltip" title="<%= app.provdersList %>" data-placement="left"><%= app.numOfProviders %></td>
     <td data-toggle="tooltip" title="<%= app.usedPermissionsList %>" data-placement="left"><%= app.usedPermissions %></td>
     <td data-toggle="tooltip" title="<%= app.createdPermissionsList %>" data-placement="left"><%= app.createdPermissions %></td>
     <td><%= app.bootCompleted %></td>
     <td><%= app.persistent %></td>
     <td><%= getSupplier(app.package) %>
    </td>
   </tr>
   <% end %>
   </tbody>
</table>
