<h1><%= link_to 'Apps', apps_index_url %> | <%= link_to 'Polestar', polestar_index_url %> | <%= link_to 'AOSP (GAS)', aosp_gas_index_url %></h1>

<b>Number of apps:</b> <%= @apps.where(project: "polestar").size %>
<br>
<br>
<table id="example" class="table table-striped table-bordered" >
  <thead>
    <th>Package</th>
    <th>RO</th>
    <th>Services (<%= numServices(@apps.where(project: "polestar")) %>)</th>
    <th>Receivers (<%= numReceivers(@apps.where(project: "polestar")) %>)</th>
    <th>Providers (<%= numProviders(@apps.where(project: "polestar")) %>)</th>
    <th>used permissions</th>
    <th>created permissions</th>
    <th>RECEIVE_BOOT_COMPLETED (<%= @apps.where(project: "polestar").where(bootCompleted: true).size %>)</th>
    <th>Persistent (<%= @apps.where(project: "polestar").where(persistent: true).size %>)</th>
  </thead>
  <tbody>
   <% @apps.each do |app|%>
   <tr>
     <td><%= app.package %></td>
     <td><%= app.hasRO %></td>
     <td><%= app.numOfServices %></td>
     <td><%= app.numOfReceivers %></td>
     <td><%= app.numOfProviders %></td>
     <td><%= app.usedPermissions %></td>
     <td><%= app.createdPermissions %></td>
     <td><%= app.bootCompleted %></td>
     <td><%= app.persistent %></td>
   </tr>
   <% end %>
   </tbody>
</table>
