<%= render "shared/header" %>

<b>Number of apps:</b> <%= @apps.where(project: "aosp_gas").size %>
<br>
<br>

<div class="">
<table id="example" class="table table-striped table-bordered" >
  <thead>
    <th id="package">Package</th>
    <th id="RO">RO</th>
    <th id="services">Services (<%= numServices(@apps.where(project: "aosp_gas")) %>)</th>
    <th id="receivers">Receivers (<%= numReceivers(@apps.where(project: "aosp_gas")) %>)</th>
    <th id="providers">Providers (<%= numProviders(@apps.where(project: "aosp_gas")) %>)</th>
    <th id="permissions">used permissions</th>
    <th id="permissions">created permissions</th>
    <th id="BOOT_COMPLETED">BOOT_COMPLETED (<%= @apps.where(project: "aosp_gas").where(bootCompleted: true).size %>)</th>
    <th id="persistent">Persistent (<%= @apps.where(project: "aosp_gas").where(persistent: true).size %>)</th>
  </thead>
  <tbody>
   <% @apps.each do |app|%>
   <tr>
     <td><%= app.package %></td>
     <td><%= app.hasRO %></td>
     <td><%= app.numOfServices %></td>
     <td><%= app.numOfReceivers %></td>
     <td><%= app.numOfProviders %></td>
     <td><%= app.usedPermissions %></td>
     <td><%= app.createdPermissions %></td>
     <td id="<%= app.bootCompleted? ? "redcell" : "" %>"><%= app.bootCompleted %></td>
     <td id="<%= app.persistent? ? "orangecell" : "" %>"><%= app.persistent %></td>
   </tr>
   <% end %>
   </tbody>
</table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
  });
</script>
